<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Daniel Matarazzo &amp; Ruben Arakelyan</string>
	<key>CFBundleDisplayName</key>
	<string>Gentle Status Bar</string>
	<key>CFBundleIdentifier</key>
	<string>net.able-archer.gentleStatus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.42</string>
	<key>CFBundleVersion</key>
	<string>1.42</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://acid2.acidtests.org/#top</string>
			<string>http://acid3.acidtests.org/</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>jquery.js</string>
				<string>injectedscript.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>aaGentleStatus.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Fades in to show you where links lead without Safari's always-on status bar. Supports modifier keys.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://tools.rubenarakelyan.com/safari-src/gentlestatus.update.plist</string>
	<key>Website</key>
	<string>http://tools.rubenarakelyan.com/safari/gentlestatus</string>
</dict>
</plist>
